/* basic body styles */
body {
  font-family: 'Quicksand', sans-serif;
  coor: #282828;
  background: : #ECF0F1;
  font-size: 16px;
  font-weight: normal;
}

/* header styles */
#header{
  background: #FFA000;
  width: 100%;
  padding: 24px;
  cursor: pointer;
}

#header h1{
  font-size: 54px;
  font-weight: bolder;
}

#header a{
  color: #282828;
  text-decoration: none;
}

/* main data styles (price and date) */
#main-data{
  margin-top: 60px;
}

#price{
  font-size: 48px;
  font-weight: bold;
}

#date{
  font-size: 18px;
  font-weight: normal;
}

/* detail data styles */

#container-data {
  background: #FFC107;
  text-align: center;
  border-radius: 5px;
  padding: 24px;
  margin-top: 60px;
}

.data-label {
  font-weight: bold;
}


/* button style at bottom page */

#btn-container .btn{
  margin-top: 60px;
  width: 25%;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: #BDBDBD;
}

#btn-container .btn:hover {
  background: #757575;
}

/* graph styles */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: #FFC107;
  stroke-width: 2.5px;
}

/* footer styles */
.footer{
  font-size: 14px;
  color: #282828;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
  margin-top: 120px;
}

.footer a{
  color: #FFA000;
}

.footer a:hover{
  color: #FFC107;
}
